#step-ul{
	display: block;
	height: 28px;
	width: 100%;
	background-color: #f8f8f8;
}
.ui-active{
	display: block;
	float: left;
	width: 0;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-style:solid;
	border-color: #f8f8f8;
}
.ui-active-befor{
	border-style:solid;
	border-color:#f8f8f8 #f8f8f8 #f8f8f8 #44abe5;
}
.ui-active-after{
	border-style:solid;
	border-color:#44abe5 #44abe5 #44abe5 #eee;
}
#step-ul .active{
	background-color: #44ABE5;
	color: #fff;
}
.step-ul-li{
	display: block;
	float: left;
	font-size: 14px;
	line-height: 28px;
	color: #9c9c9c;
	width: 100px;
	text-align: center;
}
.pass{
	background-color: #eee;
	color: #333;
}
.ui-default{
	border-color:#f8f8f8;
}
.ui-active-after-out{
	border-style:solid;
	border-color: #eee;
}
