.ui-tip-toast {
	color: #333;
	background-color: rgba(255, 255, 255, 1);
	display: inline-block;
	min-width: 160px;
	max-width: 346px;
	padding: 20px;
	text-align: center;
	border: 1px solid #ccc;
	z-index: 9999;
	position: absolute;
	left: 50%;
}
.ui-tip-toast span {
	display: inline-block;
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 2px;
}
.span-success{
	background: url(icons/success.png) no-repeat;
}
.span-error{
	background: url(icons/error.png) no-repeat;
}
.span-info{
	background: url(icons/info.png) no-repeat;
}
.span-question{
	background: url(icons/question.png) no-repeat;
}
.span-warn{
	background: url(icons/warn.png) no-repeat;
}
.span-warn-little{
	background: url(icons/warn-little.png) no-repeat;
}
.ui-tip-toast p {
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	float: left;
	padding-left: 6px;
	max-width: 284px;
	text-align: left;
}